[submodule "roles/baseline"]
	path = roles/baseline
	url = https://github.com/jansendotsh/ansible-role-baseline
[submodule "roles/docker"]
	path = roles/docker
	url = https://github.com/jansendotsh/ansible-role-docker-fedora.git
